html {
    color: #222222;
    background-color: #b5ce86;
    text-align: center;
    font-family: Palatino, serif;
    font-size: 15px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    /*width: 450px;*/
}

.flexible {
    margin: auto;
    padding: 0px;
    margin: 0px;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {.flexible {width: 100%;}}
@media only screen and (min-width: 500px) {.flexible {margin: auto; width: 80%;}}
@media only screen and (min-width: 800px) {.flexible {margin: auto; width: 60%;}}

body{
    text-align: center;
    margin: 0px 20px;
    align-self: flex-end;
}

body header{
    margin: 0;
}

body header nav {
    margin: 0;
}

body header nav ul{
    padding: 0;
    margin-top: -15px;
    margin-bottom: 20px;
}

body header nav ul li {
    /*background: white;*/
    color: #222222;
    display: inline-block;
    list-style-type: none;
    padding: 0px 5px;
}

body header nav ul li a {
    color: #222222;
}

body header nav ul li a:hover {
    color: #3d3535;
}

body details summary:hover {
    color: #3d3535;
    cursor: zoom-in;
}

.svg:hover {
    filter: invert(13%) sepia(8%) saturate(455%) hue-rotate(314deg) brightness(96%) contrast(91%);
    /*color: #2c2828;*/
    /*https://codepen.io/sosuke/pen/Pjoqqp*/
}